<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <title>检查首页</title>
    <link rel="stylesheet" href="../weui/css/weui.css"/>
    <link rel="stylesheet" href="../weui/css/jquery-weui.min.css"/>
    <script src="../weui/js/jquery.min.js"></script>
</head>
<body>
<div class="weui-cells__title">自动获取（可以修改）</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__bd">被检查单位信息</div>
        <div class="weui-cell__ft">
            <label for="switchtp_fs" class="weui-switch-cp">
                <input id="switchtp_fs" class="weui-switch-cp__input" type="checkbox" checked="checked" onclick="hide1()">
                <div class="weui-switch-cp__box"></div>
            </label>
        </div>
    </div>

    <div id="itemFs">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">被检查单位</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入被检查单位" id="CHECKED_UNIT" >
            </div>
        </div>

        <!--<div class="weui-cell" style="display: none">-->
        <!--<div class="weui-cell__hd"><label class="weui-label">信用代码</label></div>-->
        <!--<div class="weui-cell__bd">-->
        <!--<input class="weui-input" type="text" placeholder="请输入社会信用代码" id="UNIT_NUMBER" >-->
        <!--</div>-->
        <!--</div>-->
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">单位地址</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="请输入被检单位" id="ADDRESS" >
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">法定代表人</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="输入法定代表人" id="REPRESENT_PEOPLE" >
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">法人联系电话</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" pattern="[0-9]*" placeholder="输入法人联系电话" id="REPRESENT_MOBILE" >
            </div>
        </div>
    </div>
</div>

<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">风险点<span style="color: red">*</span></label></div>
        <div class="weui-cell__bd">
            <input id="Risk_Point"  class="weui-input" placeholder="请选择风险点">
        </div>
    </div>
</div>

<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">检查开始时间:</label></div>
        <div class="weui-cell__bd">
            <input id="CHECKED_START_TIME"  class="weui-input">
        </div>
    </div>
</div>

<div class="weui-cells__title">检查单位信息<span style="color: red">*</span></div>

<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">检查人员1</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请输入检查人员" name="CheckMen" id="CHECK_PEOPLE1" >
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">证件号1</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请输入证件号" name="CheckMen" id="CARD_NUMBER1" >
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">检查单位1</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text" placeholder="请输入检查单位" name="CheckMen" id="CHECK_UNIT1">
        </div>
    </div>
    <span id = "checkMenBox"></span>
    <a class="weui-cell weui-cell_link" >
        <div class="weui-cell__bd" onclick="addCheckMen()">添加检查人员</div>
        <div class="weui-cell__bd" onclick="delectCheckMen()" style="color: red">删除检查人员</div>
    </a>
</div>

<div class="weui-cells__title">检查项目<span style="color: red">*</span></div>
<div class="weui-cells weui-cells_checkbox"  id="checkbox">
        <span th:each="checkedItem:${checkedItem}" >
            <label class="weui-cell weui-check__label" th:for="'checkbox'+${checkedItem.CHECKED_ID}">
                <div class="weui-cell__hd">
                    <input type="checkbox" class="weui-check"  th:id="'checkbox'+${checkedItem.CHECKED_ID}" />
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p th:text="${checkedItem.NAME}" th:id="'checkedItem'+${checkedItem.CHECKED_ID}"></p>
                </div>
            </label>
        </span>
</div>

<div class="weui-cells__title">检查情况<span style="color: red">*</span></div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <textarea class="weui-textarea" placeholder="请输入检查情况" rows="3" id="check_desc"></textarea>
            <div class="weui-textarea-counter"><span>0</span>/200</div>
        </div>
    </div>
</div>
<div class="weui-gallery" id="gallery">
    <span class="weui-gallery__img" id="galleryImg"></span>
    <div class="weui-gallery__opr">
        <a href="javascript:" class="weui-gallery__del">
            <i class="weui-icon-delete weui-icon_gallery-delete"></i>
        </a>
    </div>
</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cell_switch">
        <div class="weui-cell__bd">上传图片/可选</div>
        <div class="weui-cell__ft">
            <label for="switchtp" class="weui-switch-cp">
                <input id="switchtp" class="weui-switch-cp__input" type="checkbox" onclick="uploadtp_Set()">
                <div class="weui-switch-cp__box"></div>
            </label>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui-cell__bd">
            <div class="weui-uploader" id="topbox" style="display: none">
                <div class="weui-uploader__hd">
                    <p class="weui-uploader__title">上传现场图片</p>
                </div>
                <div class="weui-uploader__bd">
                    <ul class="weui-uploader__files" id="uploaderFiles">

                    </ul>
                    <div class="weui-uploader__input-box">
                        <input id="uploaderInput" class="weui-uploader__input zjxfjs_file" type="file" accept="image/*" multiple="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--上传视频-->
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell weui-cell_switch">
            <div class="weui-cell__bd">上传视频/可选</div>
            <div class="weui-cell__ft">
                <label for="switchtp_video" class="weui-switch-cp">
                    <input id="switchtp_video" class="weui-switch-cp__input" type="checkbox" onclick="uploadtp_Set_video()">
                    <div class="weui-switch-cp__box"></div>
                </label>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader" id="topbox_video" style="display: none">
                    <div class="weui-uploader__hd">
                        <p class="weui-uploader__title">上传现场视频</p>
                    </div>
                    <div class="weui-gallery" id="chat_head_gallery_video">
                        <span class="weui-gallery__img" id="chat_head_galleryImg_video"></span>
                        <div class="weui-gallery__opr">
                            <a href="javascript:" class="weui-gallery__del chat_head_delete ">
                                <i class="weui-icon-delete weui-icon_gallery-delete"></i>
                            </a>
                        </div>
                    </div>
                    <div class="weui-uploader__bd">

                        <span id="percentagetop_video"></span>

                        <ul class="weui-uploader__files " id="view_chat_head_video" style="margin-left: 1px">

                        </ul>
                        <div class="weui-uploader__input-box">
                            <input id="chat_wideo" class="weui-uploader__input js_file_chat_head"  type="file" accept="video/*"   multiple="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  style="margin-top:20px;margin-bottom: 30px;">
        <input onclick="submit()"  class="weui-btn weui-btn_primary" style="width:90%;font-size:20px;" value="提交" type="button" >
    </div>

</div>
<script>
    
</script>
</body>
</html>